@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#name {
  color: #f0e8e1;
  text-shadow: 2px 2px 5px black;
}

.titleHome {
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  background-color: #6F9454/*#e3e4e2*/;
  position: fixed;
  z-index: 1;
}
.one{
width: 40%;
}
.two{
  width: 40%;
  align-self: flex-start;
  margin: auto;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f0e8e1;
  text-shadow: 2px 2px 5px black;
}

a {
  color: #f0e8e1;
  text-decoration: none;
}
header nav a:hover{
  transform: scale(1.2);
}
header nav a {
  color: #f0e8e1;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

#home {
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  color: black;
  /* text-shadow: 1px 1px 10px white; */
  background-color: /*#6AB547*/ #6F9454;
}
.intro {
  text-align: justify;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.imghome {
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 5px;
}
.sectionImage {
    width: 40%;
    align-self: flex-end;
    display: flex;
    margin: auto;
}

.sectionPresentation {
  width: 40%;
  margin: auto;
  font-size: 1.2em;
}

h1 {
  text-align: center;
  padding: 20px;
}
body {
   font-family: 'Source Sans Pro',
    sans-serif;
}
#films {
  background-color: #f4f2f3;
  padding-top: 3em;
}
.allFilters{
  display: flex;
  justify-content: space-around;
  padding: 1em 2em;
  flex-wrap: wrap;
  align-content: center;
}
.f1-Filter {
  align-self: center;
  width: fit-content;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.f1-Filter select {
  cursor: pointer;
  padding: 5px 15px;
  height: 42px;
  background-color: #f5bdc8;
  color: black;
  font-size: 1em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}
.f1-Filter select:hover{
  background: #f0f0f0;
}
.f2-Filter{
    align-self: center;
    display: flex;
    margin: 1em;
}
#filterBy{
  align-self: center;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
}
/* Dropdown */
.dropdown1,
.dropdown2 {
  position: relative;
  display: inline-block;
  margin: 0 1em;
}
.directors,
.producers{
  border: none;
  background-color: #f5bdc8;
  border-radius: 0.5em;
  font-size: 1.5em;
  padding: 0.5em;
  font-family: 'Source Sans Pro',
  sans-serif;
  color: black;
}
.dropdown1 div button,
.dropdown2 div button {
  font-size: 1.5em;
  padding: 0.5em;
  font-family: 'Source Sans Pro',sans-serif;
  border: none;
  color: black;
  display: inline-block;
  background-color: #f5bdc8;
  width: 250px;
}
.dropdown1 div button:hover,
.dropdown2 div button:hover,
.directors:hover,
.producers:hover {
  background-color: #C66678;
}
.dropdown-content1,
.dropdown-content2 {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown2:hover .dropdown-content2,
.dropdown1:hover .dropdown-content1 {
  display: block;
}

.container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: stretch;
  margin: auto;
  justify-content: space-around;
  padding: 10px;
  color: #f4f0ea;
}
.item {
  padding: 5px;
  margin: 5px;
  width: 220px;
  height: 25em ;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  background-color: #C66678/*#656256*/;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1em;
}
.item:hover {
  background-color: #C66678;
  color: black;
  /*transform: scale(1.05);*/
  transition-duration: .5s;

 }
 .item:hover .description{
  display: flex;
  vertical-align: middle;
  position: absolute;
  align-items: center;
  transition-duration: .9s
 }
 .description{
  background-color: #f5bdc8;
  padding: 10px;
  display: none;
  width: inherit;
  height: 32em;
  /*overflow: auto;*/
  font-size: .8em;
  text-align: justify;
  color: black;
  
 }
.img {
  height: 19em;
  padding: 10px;
}

label {
  font-size: 1.5em;
}

footer a {
  margin: 20px;
  padding: 20px;
}

footer {
  background-color: #BBAC8E;
  height: 230px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

#contact {
  text-align: center;
}

.icons {
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
}

i:hover {
  transform: scale(0.9);
  transition: all 0.4s ease;
}

a:visited {
  color: inherit;
}

figure {
  display: block;
  text-align: right;
  margin: 20px;
}
#made{
  padding-left: 550px;
  color: #f4f2f3;
  float: left;
  padding-top: 10px;
}
.totoro{
  width: 50px;
  float: left;
  padding-left: 5px;
}
.owners a{
  padding: 0;
  margin: 0;
}
.namesDirProd{
  width: 200px;
  text-align: center;
  margin: auto;
  font-size: 2em;
  color: black;
}
@media screen and (max-width: 600px) and (min-width: 300px){
  header nav a {
    font-size: 1em;
    font-weight: bold;
  }
  #name {
    font-size: x-large;
  }
   .f2-Filter {
     align-self: center;
     display: flex;
     margin: 1em;
     flex-direction: column;
     font-size: 0.8em;
   }
   .dropdown1,
   .dropdown2{
     margin:1em;
   }
   .allFilters{
     flex-direction: column;
     padding: 2em 0;
   }

   #home{
     flex-direction: column;
     min-width: 100%;
   }
   .sectionImage, .sectionPresentation{
     width: 90%;
     padding: 1em 0;
   }

   i,
   footer a {
    font-size:2rem;
    padding: 0.5rem;
    margin: 0;
   }
   #made{
    padding-left: 100px;
    color: #f4f2f3;
    float: left;
    padding-top: 5px;
  }
}
@media screen and (max-width: 1025px) and (min-width: 760px){
  #made{
    padding-left: 380px;
    color: #f4f2f3;
    float: left;
    padding-top: 5px;
  }
}